<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <!-- Default Welcome Message -->
          <div class="welcome-msg">Welcome to PokeMon World!</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12">
          <!-- Header Logo -->
          <div class="logo">
            <a routerLink="/database">
              <img alt="PokeApi" src="assets/logo.png" />
            </a>
          </div>
          <!-- End Header Logo -->
        </div>
      </div>
    </div>
  </div>
</header>
